@font-face {
  font-family: 'iconfont';  /* Project id 2698818 */
  src: url('//at.alicdn.com/t/font_2698818_xsjqueyfthk.woff2?t=1628248341784') format('woff2'),
       url('//at.alicdn.com/t/font_2698818_xsjqueyfthk.woff?t=1628248341784') format('woff'),
       url('//at.alicdn.com/t/font_2698818_xsjqueyfthk.ttf?t=1628248341784') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\e60f";
}

.icon-dianhua:before {
  content: "\e639";
}

.icon-fanhui:before {
  content: "\e613";
}
